<footer>
  <div class="row">
    <div class="col-3">
      <h3><strong>Hasin</strong> Khan</h3>
      <ul>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">All Product</a></li>
        <li class="nav-item"><a href="#">About Us</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
        <li class="nav-item">
          <a href="/admin" target="_blank">Admin</a>
        </li>
      </ul>
    </div>

    <div class="col-4">
      <h3>About US</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure rerum
        laudantium voluptatem est facere sequi! Incidunt molestias, itaque ea
        consectetur soluta aspernatur cumque. Labore libero pariatur laudantium
        perferendis harum totam perspiciatis voluptates. Enim dolorum cum
        tempore quo, obcaecati incidunt ab cumque dicta blanditiis nemo amet
        dolorem quibusdam adipisci? Laboriosam, quasi quae voluptas nesciunt
        nihil vero veniam, ipsam facilis aut illo quibusdam dolorum numquam
        magnam error incidunt voluptate recusandae.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <h3>Contact</h3>
      <ul>
        <li><strong>Phone:</strong> +8801717111222</li>
        <li><strong>Email:</strong> capitalshop@gmail.com</li>
        <li><strong>Address:</strong> Dhaka,Bangladesh</li>
      </ul>
    </div>
  </div>
</footer>
